<div class="layout-menu">
  <div class="menu">
    <button mat-button>
      <mat-icon svgIcon="home"></mat-icon>
        <div>
          Dashboard
        </div>
    </button>
    <button mat-button>
        <mat-icon svgIcon="list"></mat-icon>
          <div>
            Records
          </div>
      </button>
      <button mat-button>
          <mat-icon svgIcon="settings"></mat-icon>
            <div>
              Settings
            </div>
        </button>
  </div>
</div>

<div clas="layout-content">

</div>
