<mat-toolbar color="primary">
  <span>Budget</span>
</mat-toolbar>
<main *ngIf="!isLoading; else spinner">
  <app-summary [budgetSummary]="budgetSummary" [cashflowSummary]="cashflowSummary"></app-summary>
  <div class="grid">
    <mat-card class="budgets-card">
      <mat-card-header>
        <mat-card-title>
          Budgets by Category
        </mat-card-title>
      </mat-card-header>
      <app-budget-progress *ngFor="let budget of budgets" [budget]="budget"></app-budget-progress>
    </mat-card>
  </div>
</main>
<ng-template #spinner><mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner></ng-template>
